*{
    padding: 0;
    margin: 0;
}

body{
    /*
    background-image: url("../img/bg.jpg");
    background-size: cover;*/
    background: #520d71;
    display: flex;
    align-content: center;
    align-items: center;
}

footer{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    position: absolute;
    bottom: 0;
}

footer > p{
    font-size: 16px;
    text-align: center;
}

a{
    text-decoration: none;
    color: antiquewhite;
}

#canvas{
    /*width: 45%;*/
    margin: 14em auto 0;
}

#bg{
    position: absolute;
    top: 1px;
    z-index: -1;
    width: 100%;
}